.container {
  padding: 0 2rem;
}

.blade {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (width < 450px) {
  .container {
    padding: 0 1.25rem;
  }
}
