.hero {
  background-image: url('/Hero2.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  width: auto;
}

.blade {
  animation: spin 10s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
