.hero {
  background-image: url('/hero.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 450px;
  width: 100%;
  gap: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.mainHeroText {
  font-size: clamp(2rem, 4vw + 3rem, 7rem);
}

.subtextLarge {
  display: flex;
}

.subtextSmall {
  display: none;
}

@media (width < 800px) {
  .subtextLarge {
    display: none;
  }
  .subtextSmall {
    display: flex;
  }
}
