.inventoryContainer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}
.filtersSidebar {
  display: flex;
  width: 230px !important;
  min-width: 230px;
  background-color: white;
  border-radius: var(--mantine-radius-sm);
  padding: 1rem;
}
.filtersDrawer {
  display: none;
}

@media (width < 800px) {
  .filtersSidebar {
    display: none;
  }
  .filtersDrawer {
    display: block;
  }
}
