.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.1);
}

.navRow {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0.5rem 2rem;
}

.links {
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: var(--mantine-color-blue-5);
  }
}
.desktopNav {
  display: flex;
}
.mobileNav {
  display: none;
}

@media (width < 800px) {
  .desktopNav {
    display: none;
  }
  .mobileNav {
    display: block;
  }
}
