@import '@mantine/core/styles.css';
@import '@mantine/notifications/styles.css';
@import '@mantine/dates/styles.css';
@import '@mantine/carousel/styles.css';

root {
  font-family: var(--font-poppins), sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins), sans-serif;
  background-color: ghostwhite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
