.landingContainer {
  height: 100%;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.contactGroup {
  display: flex;
  flex-direction: row;
}

@media (width < 450px) {
  .contactGroup {
    flex-direction: column;
    gap: 0.3rem;
  }
}
